/* body ---------- */

@import url('https://fonts.googleapis.com/css2?family=Lato');

body {
  margin: 0;
  font-family: 'Lato', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.7;
  font-size: 19px;
  background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(Component/images/nasa-Q1p7bh3SHj8-unsplash.jpg);
  background-size: cover;
}

video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: "translate(-50%, -50%)";
  z-index: -1;
}


/* navbar ---------- */

.navbar {
  background-color:rgb(170, 255, 0);;
  display: flex;
  justify-content: center;
  font-family: 'Lato', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  position: sticky;
}

.link {
  color: black;
  display: inline-block;
  padding: 3px 20px;
  font-size: 24px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: white;
  transform: scale(1.1);
}

/* NASA foto ---------- */

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
  color: yellowgreen;
  padding-left: 20px;
  font-family: 'Lato', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
  color: yellowgreen;
  padding-left: 20px;
  font-family: 'Lato', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.nasa-photo .explanation {
  color: white;
  padding-left: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* NASA foto aangepast voor device breedte tot max 1280 pixels */

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.home {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-size: 40px;
  background: yellowgreen;
  display: inline-block;
  padding: 40px 80px;
  color: #fff;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
  font-family: 'Lato', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.home-link:hover {
  border-radius: 5px;
  background: rgb(170, 255, 0);
  color: black;
}